<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867349106505-p8ikcskef3i3fmm0gjsld5q9dpm673lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867349106505-p8ikcskef3i3fmm0gjsld5q9dpm673lg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>867349106505-pvrcionpqer0c2i3suf75ngrsk6vf5cv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhj_qBN6vT6AI8Y_Z7dznPH5YvecZ11hw</string>
	<key>GCM_SENDER_ID</key>
	<string>867349106505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>psoft-task</string>
	<key>STORAGE_BUCKET</key>
	<string>psoft-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867349106505:ios:fc953d51e68a19cacc9498</string>
	<key>DATABASE_URL</key>
	<string>https://psoft-task-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>